<% if (page.comments){ %>
<section id="comment">
  <h2 class="title"><%= __('comment') %></h2>
  <% if (theme.comment_provider == "facebook") {
      if (theme.facebook) { %>
      <%- partial('_partial/facebook_comment', {fbConfig: theme.facebook}) %>
      <% } %>
  <% } %>
</section>
<% } %>